<header class="bg-blue-700 h-16 flex justify-center items-center">
  <input
    type="text"
    class="h-10 w-96 rounded p-4"
    placeholder="search tasks..."
  />
</header>
<aside class="fixed top-16 w-80 shadow-lg bg-gray-300 h-[calc(100vh_-4rem)]">
  <ul>
    <li class="p-4 bg-blue-100 border-l-4 border-blue-500">All</li>
    <li class="p-4">Important</li>
    <li class="p-4">Completed</li>
  </ul>
</aside>
<main class="bg-gray-100 ml-80 min-h-[calc(100vh_-4rem)] py-8 px-4">
  <h2 class="font-bold text-xl">My Day</h2>
  <div class="text-blue-600">
    <span>Thusday </span>,<span> August 15 , 2024</span>
  </div>

  <div class="flex mt-10">
    <input
      type="text"
      class="w-full h-16 px-4 py-2 rounded shadow"
      placeholder="type the Task"
    />
  </div>

  <div class="flex flex-col mt-6">
    <h2 class="font-bold text-xl">Tasks</h2>
    <p
      class="bg-white w-full h-16 px-4 py-2 rounded shadow flex items-center mt-2 mb-2"
    >
      task - 1
    </p>
  </div>
</main>
